<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	Arquivo de configuração do Sagitarii
	Versão	: 5.0 
	Por		: Carlos Magno Abreu em 29/05/2015
 -->

<!DOCTYPE configuration [
	<!ELEMENT configuration (sagitarii) >
	<!ELEMENT sagitarii (poolIntervalSeconds,pseudoClusterIntervalSeconds,pseudoMaxTasks, 
		maxInputBufferCapacity,mainNodesQuant,fileReceiverPort,fileReceiverChunkBufferSize,
		firstDelayLimitSeconds,CSVDelimiter,useDynamicLoadBalancer)>
]>

<configuration>
	
	<sagitarii>
		<poolIntervalSeconds>4</poolIntervalSeconds>
		<pseudoClusterIntervalSeconds>5</pseudoClusterIntervalSeconds>
		<pseudoMaxTasks>5</pseudoMaxTasks>
		<maxInputBufferCapacity>30</maxInputBufferCapacity>
		<mainNodesQuant>1</mainNodesQuant>
		<fileReceiverPort>3333</fileReceiverPort>
		<fileReceiverChunkBufferSize>100</fileReceiverChunkBufferSize>
		<firstDelayLimitSeconds>60</firstDelayLimitSeconds>
		<CSVDelimiter>,</CSVDelimiter>
		<useDynamicLoadBalancer>true</useDynamicLoadBalancer>
	</sagitarii>
	
</configuration>

