<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd/MM/YYYY HH:mm:ss} %-5level %logger{36} - %msg%n" />
		</Console>
		
		<RandomAccessFile name="File" FileName="${sys:rootPath}logs/sagitarii.log" append="false">
			<PatternLayout pattern="%d{dd/MM/YYYY HH:mm:ss} %-5level %logger{36} - %msg%n" />
		</RandomAccessFile>		
		
	</appenders>
	
	<loggers>

		<Logger name="br.cefetrj.sagitarii.core.ssh.SSHSessionManager" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.delivery.InstanceDeliveryControl" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.sockets.FileReceiverManager" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>
		
		<Logger name="br.cefetrj.sagitarii.core.sockets.FileImporter" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>
		
		<Logger name="br.cefetrj.sagitarii.core.sockets.FileSaver" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.ReceivedData" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.DataReceiver" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.api.ExternalApi" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.mail.MailService" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>
		
		<Logger name="br.cefetrj.sagitarii.core.sockets.Server" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.Orchestrator" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.instances.ReduceInstanceGenerator" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.instances.MapInstanceGenerator" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.instances.SplitInstanceGenerator" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.instances.SelectInstanceGenerator" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.persistence.services.RelationService" level="error" additivity="false"> 
			<appender-ref ref="Console"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.persistence.services.ExperimentService" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>


		<Logger name="br.cefetrj.sagitarii.core.FragmentInstancer" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.instances.InstanceCreator" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>


		<Logger name="br.cefetrj.sagitarii.persistence.infra.HibernateDAO" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.Sagitarii" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.core.ClustersManager" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>
		
		<Logger name="br.cefetrj.sagitarii.core.Cluster" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>


		<Logger name="br.cefetrj.sagitarii.persistence.repository.ActivityRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.persistence.repository.CustomQueryRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.persistence.repository.WorkflowRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>


		<Logger name="br.cefetrj.sagitarii.persistence.repository.ExecutorRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.persistence.repository.ExecutorService" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>


		<Logger name="br.cefetrj.sagitarii.persistence.repository.FileRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.persistence.repository.ConsumptionRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>


		<Logger name="br.cefetrj.sagitarii.persistence.repository.UserRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.persistence.repository.ExperimentRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>


		<Logger name="br.cefetrj.sagitarii.persistence.repository.RelationRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>
		
		<Logger name="br.cefetrj.sagitarii.core.processor.MainClusterQueryWrapper" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		
		<Logger name="br.cefetrj.sagitarii.persistence.repository.InstanceRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>

		<Logger name="br.cefetrj.sagitarii.persistence.repository.FragmentRepository" level="error" additivity="false"> 
			<appender-ref ref="File"/> 
		</Logger>
	
		<root level="error">
			<appender-ref ref="File" />
		</root>
		
	</loggers>
	
	
</configuration>
